@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">

<a href="/Admin" class="btn btn-primary btn-lg">
    Go to Admin Page
    </a>

</div>